<html>
<head>
    <meta charset="UTF-8">
    <title>Delete Car</title>
</head>
<body>
{%if request.user.is_authenticated %}

<h1>Delete {{ car.name }}?</h1>

<form method="POST" action="">
    {% csrf_token %}
    Are you sure you want to delete this post?
    <input type="submit" value="Yes"/>
    <a href="/car/{{ car.id }}/">Cancel </a>
</form>
{% endif %}

</body>
</html>
