<html>
<head>
    <title>Cars</title>
</head>

<body>
<h1>Cars</h1>
<form action="" method="POST">
    {% csrf_token %}
    Name: <input type="text" name="name"/><br/>
    License: <input type="text" name="license"/><br/>
    <label for="category">Choose a category:</label>
    <select class="form-control" id="category" name="category">
        {%for cat in categories%}<option value="{{cat.id}}">{{cat.name}}</option>{%endfor%}
    </select>
    <input type="submit" value="Create"/>
</form>
<br/><br/>

</body>
</html>